
      <li>
        <div class="nav-indicator">
Food Log
        </div>
        <ul>

<li>
<%= @calories_eaten %>
</li>

<li>
Add Food
</li>

<form action='/log_food' method='post' id='foodLogForm'>
<input type='hidden' name='food_date' id='food_date' value="<%=format_date(@start_date)%>" />
<li>
Food Eaten:
<input type='text' name='food' id='food' />
</li>

<li>
Amount:
<select name='quantity' id='quantity'>
  <% (1..20).to_a.each do |val| %>
  <option value="<%=val %>"><%=val %></option>
  <% end %>
</select>
<% #todo use type_map from gem
  type_map = {'oz' => '226',
                'lb' => '180',
                'gram' => '147',
                'kilogram' => '389',
                'roll' => '290',
                'serving' => '304',
                'link' => '188',
                'piece' => '251',
                'fl oz' => '128',
                'ml' => '209',
                'tsp' => '364',
                'tbsp' => '349',
                'cup' => '91',
                'pint' => '256',
                'slice' => '311',
                'liter' => '189',
                'quart' => '279',
                'entree' => '117',
                'portion' => '270'
    }
%>
<select name='quantity_type' id='quantity_type'>
  <% type_map.each_pair do |key,val| %>
  <option value="<%=key %>"><%=key %></option>
  <% end %>
</select>
</li>

<li>
When:
<select name='meal_type' id='meal_type'>
  <option value="7">Anytime</option>
  <option value="1">Breakfast</option>
  <option value="2">Morning Snack</option>
  <option value="3">Lunch</option>
  <option value="4">Afternoon Snack</option>
  <option value="5">Dinner</option>
</select>
</li>

<li>
<input type='submit' class='button' name='log_food' value='log food' id='log_food_submit'/>
</li>
</form>
