<html>
<head>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/jquery-1.4.2.min.js') %>"></script>
<script type="text/javascript" charset="utf-8"
src="<%= get_local_resource('/jquery.sparkline.min.js') %>"></script>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/jquery.offline.js') %>"></script>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/json.js') %>"></script>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/fitbit-mini.js') %>"></script>

<% if @root_url %>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/jquery.cookie.js') %>"></script>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/fitbit-app.js') %>"></script>
<% else %>
<script type="text/javascript" charset="utf-8" src="<%=
get_local_resource('/fitbit-web.js') %>"></script>
<% end %>

<link rel="stylesheet" href="<%= get_local_resource('/base.css') %>" type="text/css" media="screen,projection">
<meta name = "viewport" content = "width = device-width">
<link rel="apple-touch-icon" href="/icon.png">
</head>

<body onload="init();">
<div class="iphone-scrollcontainer">
   <ul class="iphone-scroll">
      <li>
        <div class="nav-indicator-fixed"></div>
        <div class="nav-indicator">
	  Fitbit Mini
	  <span id="loading" style="display:none">
	  <img src="<%=get_local_resource('/spinner.gif') %>"
	  alt="loading..." /></span>
        </div>
<div id="content">
<%= yield %>

<ul class="iphone-scroll">
<div id='footer'>
<%=erb :footer, :layout => false %>
</div>
</ul>
</div>
</div>

</body>
</html>
